/* get the required local files */
@font-face {
    font-family: 'Roboto';
    src: url('roboto.eot');
    /* IE9 Compat Modes */
    src: url('roboto.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('roboto.woff') format('woff'),
        /* Modern Browsers */
        url('roboto.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('roboto.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

a {
    display: inline;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: aquamarine;
}

h2 {
    color: blue;
}

p {
    border-style: dashed;
    color: black;
    background-color: bisque;
}

ul {
    border-style: double;
    color: black;
    background-color: blanchedalmond;
}

h4 {
    border-style: initial;
    color: black;
    background-color: blanchedalmond;
}

div {
    border-style: double;
    color: black;
    background-color: azure;
}

.nav {
    align-items: center;
}

a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }



@media screen and (max-width: 700px) {
    /* write your CSS in this code block */
    h2{
        color: yellow;
        font-size: 15px;
    }
    img{
        width: 100%;
    }
    .about {
        background-color: yellow;
    }
}


@media screen and (max-width: 500px) {
    /* write your CSS in this code block */
    h2{
        color: green;
        font-size: 15px;
    }
    img{
        width: 100%;
    }
    .about {
        background-color: green;
    }
}


@media screen and (max-width: 300px) {
    /* write your CSS in this code block */
    h2{
        color: red;
        font-size: 15px;
    }
    img{
        width: 100%;
    }
    .about {
        background-color: red;
    }
}

@font-face {
    font-family: "chathurabold";
    src: url("../font/chathura_bold_macroman/chachathura-bold-webfont.eot");
    font-weight: normal;
    font-style: normal;
}
